/hare-common/bin
/hare-common/bin
/hare-handler/bin
/hare-master/bin
/hare-common/*.log
/hare-handler/*.log
/hare-master/*.log
/hare-client/*.log
/hare-data/*.log
/hare-data/hbase-root-dir
/hare-data/hbase-zk-data
/hare-client/bin
/hare-client/bin
/hare-data/bin
/hare-front/bin
/hare-message/bin
/hare-omc-enterprice/bin
